---
import { Icon } from 'astro-icon/components';

import LightDarkSwitch from 'components/features/LightDarkSwitch';

import { SITE_CONFIG } from 'constants/site-config';
---

<div id="navbar" class="sticky onload-animation">
  <div
    class="card-base top-0 w-full ml-auto mr-auto max-w-[var(--page-width)] px-4 h-[4.5rem] !rounded-t-none flex justify-between items-center"
  >
    <a
      href="/"
      class="text-[var(--primary)] btn-plain scale-animation rounded-lg h-[3.25rem] px-4 gap-1 active:scale-95"
    >
      <Icon name="material-symbols:home-outline-rounded" class="text-[1.75rem]" />
      <div class="text-md font-bold">{SITE_CONFIG.title}</div>
    </a>

    <div>
      <LightDarkSwitch client:only="react" />
    </div>
  </div>
</div>
